{% block content %}
  <div class="header-title is-flex is-flex-direction-column is-flex-shrink-1 p-2 is-relative">
    <a class="header-title__a is-relative" href="/">
      <h1 class="montserrat header-title-text">white ash flies</h1>
    </a>
  </div>
{% endblock %}
